<a
  href="{{ routes.cart_url }}"
  class="m-cart-icon-bubble"
  aria-label="{{ cart.item_count }}"
>
  <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
    <svg version="1.1" x="0px" y="0px" viewBox="0 0 283.5 283.5" style="enable-background:new 0 0 283.5 283.5;" xml:space="preserve"><g><path d="M118.9,222.6c-13.7,0-24.9,11.1-24.9,24.8c0,13.7,11.2,24.8,24.9,24.8c13.7,0,24.9-11.1,24.9-24.8S132.6,222.6,118.9,222.6 z M118.9,258.3c-6.1,0-11-4.9-11-10.9s4.9-10.9,11-10.9c6.1,0,11,4.9,11,10.9C129.9,253.4,124.9,258.3,118.9,258.3z"></path><path d="M206.3,222.6c-13.7,0-24.9,11.1-24.9,24.8c0,13.7,11.2,24.8,24.9,24.8s24.9-11.1,24.9-24.8 C231.2,233.7,220.1,222.6,206.3,222.6L206.3,222.6z M206.3,258.3c-6.1,0-11-4.9-11-10.9s4.9-10.9,11-10.9c6.1,0,11,4.9,11,10.9 C217.3,253.4,212.4,258.3,206.3,258.3z"></path><path d="M212.4,92.1h-99.7c-3.8,0-7,3.1-7,6.9c0,3.8,3.1,6.9,7,6.9h99.7c3.8,0,7-3.1,7-6.9C219.4,95.2,216.3,92.1,212.4,92.1 L212.4,92.1z"></path><path d="M207,128h-88.9c-3.8,0-7,3.1-7,6.9c0,3.8,3.1,6.9,7,6.9H207c3.8,0,7-3.1,7-6.9C214,131.1,210.9,128,207,128z"></path><path d="M280.3,61.2c-2.7-3.2-6.6-5.1-10.8-5.1H52.7L48.4,35c-0.9-4.4-3.9-8.1-8.1-9.9L9.7,11.9c-3.5-1.5-7.6,0.1-9.2,3.6 C-1,19,0.7,23.1,4.2,24.6l30.5,13.2l33.7,162.5c1.3,6.4,7.1,11,13.6,11h166.7c3.8,0,7-3.1,7-6.9c0-3.8-3.1-6.9-7-6.9H82L78,177.8 h172.1c6.6,0,12.3-4.6,13.6-11l19.5-93.9C284,68.7,283,64.5,280.3,61.2L280.3,61.2z M250.1,163.9h-175L55.6,70h213.9L250.1,163.9z"></path></g></svg>
    <span class="m-tooltip__content">{{ 'layout.cart.title' | t }}</span>
  </span>
  <m-cart-count class="m-cart-count-bubble m-cart-count{% if cart == empty %} m:hidden{% endif %}">
    {%- if cart.item_count < 100 -%}
      {{- cart.item_count -}}
    {%- else -%}
      99+
    {%- endif -%}
  </m-cart-count>
</a>
